{% extends 'base.html' %}

{% block head %}
    <title>Rozgrywka | Zilch!</title>
{% endblock %}

{% block body %}
    <div class="score">
        <div class="score_table1">
            <h3>Gracz 1: {{ game.players[0].name }}</h3>
            <p>{{ game.players[0].game_score }}</p>
            <h3>Wynik: {{ game.players[0].score }}</h3>
        </div>
        <div class="score_table2">
            <h3>Gracz 2: {{ game.players[1].name }}</h3>
            <p>{{ game.players[1].game_score }}</p>
            <h3>Wynik: {{ game.players[1].score }}</h3>
        </div>
    </div>
        <div class="header">
            <h2>Tura gracza: {{ game.players[game.current_player].name }}</h2>
        </div>
        <div class="board">
            <div class="dices">
                <!--{% for dice in game.dices %}
                    {% if game.dices[dice] == 1 %}
                        <img src="{{ url_for('static', filename='img/1.png') }}">
                    {% elif game.dices[dice] == 2 %}
                        <img src="{{ url_for('static', filename='img/2.png') }}">
                    {% elif game.dices[dice] == 3 %}
                        <img src="{{ url_for('static', filename='img/3.png') }}">
                    {% elif game.dices[dice] == 4 %}
                        <img src="{{ url_for('static', filename='img/4.png') }}">
                    {% elif game.dices[dice] == 5 %}
                        <img src="{{ url_for('static', filename='img/5.png') }}">
                    {% elif game.dices[dice] == 6  %}
                        <img src="{{ url_for('static', filename='img/6.png') }}">
                    {% endif %}
                {% endfor %}-->

                {% if game.dices[0] == 1 %}
                     <img id="dice1" src="{{ url_for('static', filename='img/1.png') }}">
                {% elif game.dices[0] == 2 %}
                    <img id="dice1" src="{{ url_for('static', filename='img/2.png') }}">
                {% elif game.dices[0] == 3 %}
                    <img id="dice1" src="{{ url_for('static', filename='img/3.png') }}">
                {% elif game.dices[0] == 4 %}
                    <img id="dice1" src="{{ url_for('static', filename='img/4.png') }}">
                {% elif game.dices[0] == 5 %}
                    <img id="dice1" src="{{ url_for('static', filename='img/5.png') }}">
                {% elif game.dices[0] == 6  %}
                    <img id="dice1" src="{{ url_for('static', filename='img/6.png') }}">
                {% endif %}

                {% if game.dices[1] == 1 %}
                     <img id="dice2" src="{{ url_for('static', filename='img/1.png') }}">
                {% elif game.dices[1] == 2 %}
                    <img id="dice2" src="{{ url_for('static', filename='img/2.png') }}">
                {% elif game.dices[1] == 3 %}
                    <img id="dice2" src="{{ url_for('static', filename='img/3.png') }}">
                {% elif game.dices[1] == 4 %}
                    <img id="dice2" src="{{ url_for('static', filename='img/4.png') }}">
                {% elif game.dices[1] == 5 %}
                    <img id="dice2" src="{{ url_for('static', filename='img/5.png') }}">
                {% elif game.dices[1] == 6  %}
                    <img id="dice2" src="{{ url_for('static', filename='img/6.png') }}">
                {% endif %}

                {% if game.dices[2] == 1 %}
                    <img id="dice3" src="{{ url_for('static', filename='img/1.png') }}">
                {% elif game.dices[2] == 2 %}
                    <img id="dice3" src="{{ url_for('static', filename='img/2.png') }}">
                {% elif game.dices[2] == 3 %}
                    <img id="dice3" src="{{ url_for('static', filename='img/3.png') }}">
                {% elif game.dices[2] == 4 %}
                    <img id="dice3" src="{{ url_for('static', filename='img/4.png') }}">
                {% elif game.dices[2] == 5 %}
                    <img id="dice3" src="{{ url_for('static', filename='img/5.png') }}">
                {% elif game.dices[2] == 6  %}
                    <img id="dice3" src="{{ url_for('static', filename='img/6.png') }}">
                {% endif %}

                {% if game.dices[3] == 1 %}
                    <img id="dice4" src="{{ url_for('static', filename='img/1.png') }}">
                {% elif game.dices[3] == 2 %}
                    <img id="dice4" src="{{ url_for('static', filename='img/2.png') }}">
                {% elif game.dices[3] == 3 %}
                    <img id="dice4" src="{{ url_for('static', filename='img/3.png') }}">
                {% elif game.dices[3] == 4 %}
                    <img id="dice4" src="{{ url_for('static', filename='img/4.png') }}">
                {% elif game.dices[3] == 5 %}
                    <img id="dice4" src="{{ url_for('static', filename='img/5.png') }}">
                {% elif game.dices[3] == 6  %}
                    <img id="dice4" src="{{ url_for('static', filename='img/6.png') }}">
                {% endif %}

                {% if game.dices[4] == 1 %}
                    <img id="dice5" src="{{ url_for('static', filename='img/1.png') }}">
                {% elif game.dices[4] == 2 %}
                    <img id="dice5" src="{{ url_for('static', filename='img/2.png') }}">
                {% elif game.dices[4] == 3 %}
                    <img id="dice5" src="{{ url_for('static', filename='img/3.png') }}">
                {% elif game.dices[4] == 4 %}
                    <img id="dice5" src="{{ url_for('static', filename='img/4.png') }}">
                {% elif game.dices[4] == 5 %}
                    <img id="dice5" src="{{ url_for('static', filename='img/5.png') }}">
                {% elif game.dices[4] == 6  %}
                    <img id="dice5" src="{{ url_for('static', filename='img/6.png') }}">
                {% endif %}

                {% if game.dices[5] == 1 %}
                    <img id="dice6" src="{{ url_for('static', filename='img/1.png') }}">
                {% elif game.dices[5] == 2 %}
                    <img id="dice6" src="{{ url_for('static', filename='img/2.png') }}">
                {% elif game.dices[5] == 3 %}
                    <img id="dice6" src="{{ url_for('static', filename='img/3.png') }}">
                {% elif game.dices[5] == 4 %}
                    <img id="dice6" src="{{ url_for('static', filename='img/4.png') }}">
                {% elif game.dices[5] == 5 %}
                    <img id="dice6" src="{{ url_for('static', filename='img/5.png') }}">
                {% elif game.dices[5] == 6  %}
                    <img id="dice6" src="{{ url_for('static', filename='img/6.png') }}">
                {% endif %}
                <!--<br>
                <div class="one_dice">{{ game.dices[0] }}</div>
                <div class="one_dice">{{ game.dices[1] }}</div>
                <div class="one_dice">{{ game.dices[2] }}</div>
                <div class="one_dice">{{ game.dices[3] }}</div>
                <div class="one_dice">{{ game.dices[4] }}</div>
                <div class="one_dice">{{ game.dices[5] }}</div>
                <br>

                <form action="{{ url_for('roll') }}" method="post">
                    <label for="d1">1</label>
                    <input id="d1" name="d1" type="checkbox">
                    <label for="d2">2</label>
                    <input id="d2" name="d2" type="checkbox">
                    <label for="d3">3</label>
                    <input id="d3" name="d3" type="checkbox">
                    <label for="d4">4</label>
                    <input id="d4" name="d4" type="checkbox">
                    <label for="d5">5</label>
                    <input id="d5" name="d5" type="checkbox">
                    <label for="d6">6</label>
                    <input id="d6" name="d6" type="checkbox">
                    <button type="submit" id="re_roll">Przerzuć</button>
                </form>-->
            </div>
            <div class="moves">
                <!--{% for x in range(6) %}
                    {% if x in game.current_roll_score %}
                        <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[x] }}</button></a>
                    {% endif %}
                {% endfor %}
                {% if game.current_roll_score != 0 %}
                    <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[1] }}</button></a>
                    <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[2] }}</button></a>
                    <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[3] }}</button></a>
                    <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[4] }}</button></a>
                    <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[5] }}</button></a>
                    <a href="{{ url_for('save_dices') }}"><button>{{ game.current_roll_score[6] }}</button></a>
                {% endif %}-->
                <!--<a href="{{ url_for('save_dices') }}"><button>{{ game.check_score() }}</button></a>-->
                <form action="{{ url_for('save_dices') }}" method="post">
                    <label for="d1">Punkty za 1: {{ game.current_roll_score[1] }}</label>
                    <input id="d1" name="d1" type="checkbox">
                    <label for="d2">Punkty za 2: {{ game.current_roll_score[2] }}</label>
                    <input id="d2" name="d2" type="checkbox">
                    <label for="d3">Punkty za 3: {{ game.current_roll_score[3] }}</label>
                    <input id="d3" name="d3" type="checkbox">
                    <label for="d4">Punkty za 4: {{ game.current_roll_score[4] }}</label>
                    <input id="d4" name="d4" type="checkbox">
                    <label for="d5">Punkty za 5: {{ game.current_roll_score[5] }}</label>
                    <input id="d5" name="d5" type="checkbox">
                    <label for="d6">Punkty za 6: {{ game.current_roll_score[6] }}</label>
                    <input id="d6" name="d6" type="checkbox">
                    <label for="d6">Punkty za strit: {{ game.current_roll_score['strit'] }}</label>
                    <input id="d_strit" name="d_strit" type="checkbox">
                    <button type="submit" id="save_dices">Zapisz punkty</button>
                </form>

                <a href="{{ url_for('reroll') }}"><button id="dice" type="submit">Rzut</button></a>
                {% if game.zilch %}
                    <a href="{{ url_for('bank') }}"><button type="submit" id="bank">Zilch!</button></a>
                {% else %}
                    <a href="{{ url_for('bank') }}"><button type="submit" id="bank">Bank: {{ game.players[game.current_player].round_scores }}</button></a>
                {% endif %}
            </div>

        </div>

{% endblock %}