{% extends 'base.html' %}

{% block head %}
    <title>Zasady gry | Zilch!</title>
{% endblock %}

{% block body %}
    <h1>Zasady gry</h1>
        <div class="rules">
            <h2>Przebieg gry</h2>
                <p>1. Gracz rzuca wszystkimi kośćmi</p>
                <p>2. Jeśli:
                <p>a) gracz wyrzucił punktowaną liczbę oczek lub kombinację, może zapisać swoje punkty do banku lub zapisać punkty za kombinację, co zablokuje dane kości, po czym przerzucić pozostałe.</p>
                <p>b) gracz nie wyrzucił żadnej kombinacji lub punktowanej liczby oczek, to Zilch! Jeśli jest to trzeci Zilch gracza pod rząd, to przegrywa.</p>
                <p>3. Jeśli gracz zdecyduje się przerzucić nie zablokowanymi kośćmi, patrz punkt 2.</p>
                <p>Jeśli wszystkie rzuty kośćmi są punktowane, gracz otrzymuje opcję dodatkowego rzutu wszystkimi kośćmi. Rzuty odbywają się na tych samych zasadach co wcześniej.</p>
                <p>Gracze rzucają po kolei. Po każdej turze gracza jego punkty są sumowane. Gra kończy się, gdy suma punktów jednego z graczy wyniesie 10 000 punktów lub więcej. Drugi gracz ma wtedy szansę na ostatnią turę.</p>

        </div>
        <div class="rules">
            <h2>Punktacja</h2>
                <h3>Pojedyncze kości</h3>
                    <p>1 - 100 punktów</p>
                    <p>5 - 50 punktów</p>
                <h3>Trójki</h3>
                    <p>3 x 1 - 1000 punktów</p>
                    <p>3 x 2 - 200 punktów</p>
                    <p>3 x 3 - 300 punktów</p>
                    <p>3 x 4 - 400 punktów</p>
                    <p>3 x 5 - 500 punktów</p>
                    <p>3 x 6 - 600 punktów</p>
                <h3>Strit</h3>
                    <p>Strit - 1500 punktów</p>
                <h3>Dowolne trzy pary</h3>
                    <p>1500 punktów</p>
        </div>
{% endblock %}