<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Zasady gry | Zilch!</title>
</head>
<body>
    <h1>Zasady gry</h1>
        <h2>Przebieg gry</h2>
            <p>1. Gracz rzuca wszystkimi kośćmi</p>
            <p>2. Jeśli </p>
        <h2>Punktacja</h2>
            <h3>Pojedyncze kości</h3>
                <p>1 - 100 punktów</p>
                <p>5 - 50 punktów</p>
            <h3>Trójki</h3>
                <p>3 x 1 - 1000 punktów</p>
                <p>3 x 2 - 200 punktów</p>
                <p>3 x 3 - 300 punktów</p>
                <p>3 x 4 - 400 punktów</p>
                <p>3 x 5 - 500 punktów</p>
                <p>3 x 6 - 600 punktów</p>
            <h3>Strit</h3>
                <p>Strit - 1500 punktów</p>
            <h3>Dowolne trzy pary</h3>
                <p>1500 punktów</p>
</body>
</html>